@model IEnumerable<MVC_WebApp_Customer_Module.Models.Customer>

@{
    ViewData["Title"] = "Index";
}
<!--
<h2 class="navbar navbar-expand-lg navbar-light bg-light"></h2>
-->
<nav class="navbar navbar-light bg-light">
    <a asp-action="Create" class="btn btn-primary btn-lg">Create New</a>
    <a asp-action="Index" class="navbar-brand">Customer Management Module</a>
</nav>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.ID" class="btn btn-warning">Update</a>
                <a asp-action="Remove" asp-route-id="@item.ID" class="btn btn-danger">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
