@model MVC_WebApp_Customer_Module.Models.Customer

@{
    ViewData["Title"] = "Remove";
}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Remove Section</a>
    <a asp-action="Index" class="btn btn-primary btn-lg">Customer Management Module</a>
</nav>

<div class="customer-main-container">
    <dl class="col-7">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone_Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone_Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Remove">
        <div class="action-buttons-right col-2 remove-buttons">
            <div class="btn-group-vertical">
                <input type="submit" value="Remove" class="btn btn-danger btn-lg" />
                <input type="hidden" asp-for="ID" />
                <a asp-action="Index" class="btn btn-outline-primary btn-lg">Back to Main Page</a>
            </div>
        </div>
    </form>
</div>
